* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* shared styles */

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.text-gray {
  color: #727272;
}

.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
  margin-bottom: 85px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 1em;
  font-weight: 500;
  line-height: 26px;
}

/* banner styles */
.banner-content {
  max-width: 50rem;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  width: 862px;
  color: #131313;
  margin-top: 50px;
}

.banner-desc {
  color: #727272;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.extra {
  margin-bottom: 50px;
  margin-top: 0px;
}

.banner img {
  width: 100%;
}

/* main styles */

main {
  max-width: 1414px;
  margin: 0 auto;
}

/* teams styles */
.teams-section {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content {
  padding: 0px 0px 0px 70px;
}

.teams-title {
  font-size: 2.8rem;
  width: 29.2rem;
  margin-bottom: 24px;
}

.quick {
  color: #727272;
  font-weight: 500;
}

.of {
  color: #131313;
  font-weight: 700;
}

.features-t {
  color: #ff900e;
  font-weight: 700;
}

.teams-desc {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 32px;
  margin-top: 0px;
  width: 33.56rem;
}

/* feature section style */
.features-section {
  display: flex;
  margin-top: 130px;
  gap: 120px;
}

.feature-content .card {
  padding: 40px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 50px;
}

.feature-content .section-title {
  border-left: 5px solid #ff900e;
  height: 106px;
  padding-left: 20px;
  flex-shrink: 0;
}

.badge-10 {
  border-radius: 8px;
  background: #ff900e;
  width: 342px;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 100px;
}

.badge-10 h2 {
  color: #fff;
  text-align: center;
  font-size: 4.06rem;
  font-weight: 700;
  line-height: 70px;
  margin: 0px;
}

.uncommon {
  margin-bottom: 35px;
}

.badge-10 p {
  color: #fff;
  font-size: 1.56rem;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}

.feature-img img {
  height: 90%;
  margin-left: 80px;
}

/* facts section */

.facts-section {
  margin-bottom: 120px;
}

.facts-title {
  margin-bottom: 24px;
}

.facts-desc {
  margin-top: 0px;
  width: 33.87rem;
}

.facts-card-container {
  display: flex;
  justify-content: space-around;
}

.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 40px 30px;
  margin-top: 100px;
}

.facts-card-container .card-stats {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
}

.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
}

/* Sponspors section */
.sponspors-section {
  text-align: center;
  margin-bottom: 210px;
}

.sponspors-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.sponspors-img-container img {
  width: 165px;
}

footer {
  border-radius: 8px;
  background: rgb(255, 244, 231);
  width: 90rem;
  height: 6.25rem;
  flex-shrink: 0;
  margin: 130px auto 130px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;
}

footer:hover{
  box-shadow: 2px 2px 3px rgba(168, 161, 152, 0.9);
}

.footer-desc {
  color:  #424242;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}




/* responsive styles */
/* Mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 0px;
  }

  nav,
  .teams-section,
  .features-section,
  .facts-card-container,
  .sponspors-img-container {
    flex-direction: column;
  }

  nav ul li {
    text-align: center;
    margin: 0 auto;
    padding: 10px 15px;
  }

  .nav-title {
    margin: 10px auto;
  }

  .banner-title {
    width: 20rem;
    text-align: center;
    margin: 30px auto 15px auto;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
  }

  .teams-content {
    margin-top: 20px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .teams-desc {
    width: 25rem;
  }

  .facts-card-container {
    padding: 10px;
  }

  .facts-card-container .card {
    margin-top: 25px;
  }

  .facts-desc {
    margin-top: 0px;
    width: 28rem;
  }

  .sponspors-img-container img {
    width: 200px;
  }

  .sponspors-img-container {
    gap: 60px;
  }

  .feature-img img {
    margin: 0px;
    width: 100%;
  }

  .feature-content .card {
    margin: 10px;
  }

  .badge-10 {
    width: 100%;
  }

  footer{
    width: 80%;
  }

  .footer-desc {
    color:  #424242;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
  }

}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav,
  .teams-section,
  .features-section,
  .facts-card-container {
    flex-direction: column;
  }

  header {
    padding: 20px;
  }

  .banner-title {
    width: 20rem;
    text-align: center;
    margin: 30px auto 15px auto;
  }

  .teams-img-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }

  .teams-img-container img {
    width: 100%;
  }

  .teams-content {
    margin-top: 20px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .teams-desc {
    width: 33rem;
  }

  .facts-card-container .card {
    margin-top: 25px;
    margin: 10px;
  }

  .sponspors-img-container img {
    width: 100px;
  }

  .feature-img img {
    margin: 0px;
    width: 100%;
  }

  .feature-content .card {
    margin: 10px;
  }

  .badge-10 {
    width: 100%;
  }

  footer{
    width: 80%;
  }

  .footer-desc {
    color:  #424242;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
  }

}
